<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HospitalWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="HospitalWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://webteach_net.hallam.shu.ac.uk/cmsmr2/RemoteWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HospitalWebServiceSoap"
                contract="ProxyToHospitalWebService.HospitalWebServiceSoap" name="HospitalWebServiceSoap" />
            <endpoint address="http://webteach_net.hallam.shu.ac.uk/cmsmr2/RemoteWebService.asmx"
                binding="customBinding" bindingConfiguration="HospitalWebServiceSoap12"
                contract="ProxyToHospitalWebService.HospitalWebServiceSoap" name="HospitalWebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>