@{
    ViewBag.Title = "Home";
}
<head>

    <style>
        #about {
            background-image: url("https://media.istockphoto.com/photos/modern-hospital-building-picture-id1312706413?b=1&k=20&m=1312706413&s=170667a&w=0&h=VRi3w2E1UqvCCcK-nDV6mH7FhDZoTU9MM2QKSom96X4=");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0px 0px;
            height: 80vh;
            padding-top: 40px;
            color : white;
        }
    </style>

</head>


<body>

    <section id="about">
        <h1 class="text-center">Hospital Management</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-4">
                    <h3 class="colo">Our Services</h3>
                    <p>Hospital management system is a computer system that helps manage the information related to health 
                    care and aids in the Hospital completion of health care providers effectively. They manage the data related to all 
                    departments of healthcare such as:</p>
                    <ul>
                        <li>Inpatient</li>
                        <li>Outpatient</li>
                        <li>Laboratory</li>
                        <li>Nursing</li>
                        <li>Pharmaceutical</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Why is HMS important for a hospital?</h3>
                    <p>HMS was introduced to solve the complications coming from managing all the paper works of every patient associated with the various departments of hospitalization with confidentiality. HMS provides the ability to manage all the paperwork in one place, reducing the work of staff in arranging and analyzing the paperwork of the patients. HMS does many works like:</p>
                    <ul>
                        <li>Maintain the medical records of the patient </li>
                        <li>Maintain the contact details of the patient</li>
                        <li>Keep track of the appointment dates</li>
                        <li>Save the insurance information for later reference</li>
                        <li>Tracking the bill payments.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>